/*
 * -- CONTENT STYLES --
 */
.content-wrapper {
  position:   relative;
  min-height: 12%;
  z-index:    2;
  background: white;
  width:      100%;
}

.text-muted-feat {
  font-size: 80%;
}


.featurette-transp {
  background-color: $theme-orange-lighter;
  color: $theme-purple-darker;

  .text-muted-feat {
    color: $theme-purple-light;
  }
}


.featurette-violet {
  background-color: $theme-purple-dark;
  color: $color-anti-flash-white;

  .featurette-heading::first-line {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  .text-muted-feat {
    color: $theme-orange-lighter;
  }
}


.featurette-heading {
  font-weight: $font-bold;
  letter-spacing: -1px;
  margin-top: 2%;
  margin-bottom: 2%;
  z-index: 10;
  position: relative;
  font-variant: small-caps;
}


.login-register {
  padding-bottom: 20px;
}


.lead {
  margin-bottom: 2%;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.4;
  z-index: 10;
  position: relative;
}


@media( min-width: $grid-float-breakpoint ) {
  .content-wrapper {
    margin-top: 550px;
  }

  .container {
    max-width: 900px;
  }

  .lead {
    font-size: 1.4em;
  }

  .featurette-text {
    padding: 3% 2%;
  }

  .featurette-heading {
    font-size: 3em;
    line-height: 1.1;
  }
}

@media( max-width: $grid-float-breakpoint-max ) {
  .content-wrapper {
    margin-top: 500px;
  }

  .navbar-nav {
    margin: 0;
  }

  .featurette-text {
    padding: 2% 1%;
  }

  .featurette-heading {
    font-size: 2em;
    line-height: 1;
  }

  .quote {
    display: none;
  }
}


.container {
  margin-right:  auto;
  margin-left:   auto;
  padding-left:  15px;
  padding-right: 15px;

  &:before, &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}


@media (min-width: $screen-lg) {
  .container {
    max-width: 1000px;
  }
}
