/*
 * -- CONTENT STYLES --
 * This represents the content area (everything below the blue section)
 */
.content-wrapper {
    /* These styles are required for the "scroll-over" effect */
    position: absolute;
    // width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;
}

@media( min-width: $grid-float-breakpoint ) {
  .content-wrapper {
    top: 550px;
  }
}

@media( max-width: $grid-float-breakpoint-max ) {
  .content-wrapper {
    top: 500px;
  }
}

.fullscreen {
  min-height: 100%;
}




.text-muted-feat {
  font-size: 80%;

  &.gray {
    color: $gray-light;
  }

  &.purple {
    color: $theme-purple-light;
  }
}


.featurette-transp {
  width: 100%;
}


.featurette-violet {
  width: 100%;
  background-color: $theme-purple-dark;
  color: $gray-lighter;

  .featurette-heading::first-line {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
}


.featurette-heading {
  font-weight: $font-semibold;
  letter-spacing: -1px;

  @media( min-width: $grid-float-breakpoint ) {
    font-size: 48px;
    line-height: 1.1;
  }

  @media( max-width: $grid-float-breakpoint-max ) {
    font-size: 38px;
    line-height: 1;
  }
}


.login-register {
  padding-bottom: 20px;
}


@media( min-width: $grid-float-breakpoint ) {
  .featurette-text { padding: 5% 2%; }
}


@media( max-width: $grid-float-breakpoint-max ) {
  .navbar-nav { margin: 0; }
  .featurette-text { padding: 2% 1%; }
}



/*   THUMBNAILS (for courses on home page)   */

.thumb {
  border:        1px solid $theme-purple-dark;
  border-radius: 4px;
  overflow:      hidden;
  margin-bottom: 20px;
  height:        250px;

  /*@media (min-width: $screen-sm-min) {
    height: 250px;
  }
  @media (max-width: $screen-xs-max) {
    height: 200px;
  }*/

  > .thumb-overlay {
    background-image:  inherit;
    background-repeat: inherit;
    background-size:   inherit;

    position:      relative;
    border-bottom: 2px solid white;
    overflow:      hidden;

    > .thumb-bg {
      background-image:  inherit;
      background-repeat: inherit;
      background-size:   inherit;

      position: absolute;
      top:      0;
      right:    0;
      bottom:   0;
      left:     0;
      z-index:  99;

      -webkit-filter: blur(2px);
      -moz-filter:    blur(2px);
      -o-filter:      blur(2px);
      -ms-filter:     blur(2px);
      filter:         blur(2px);
    }

    > .thumb-txt {
      position:   relative;
      z-index:    100;
      padding:    10px;
      background: rgb (34, 34, 34); /* for IE */
      background: rgba(34, 34, 34, 0.75);
      text-align: center;
      color:      #FFFFFF;

      > thumb-title {
        font-weight: 700;
        font-size:   24px;
        overflow:    hidden;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        height:      auto;
        opacity:     1;
        transition:  opacity 0.7s ease-out;
      }

      > thumb-infos {
        font-weight: normal;
        font-size:   16px;
        overflow:    hidden;
        display:     block;
        height:      0;
        opacity:     0;
        transition:  opacity 0.7s ease-out;

        .btn {
          padding: 3px 12px;
        }
      }
    }
  }


  &:hover {
    > .thumb-overlay {
      height:        100%;
      border-bottom: none;

      > .thumb-txt {
        padding: 5px;
        height:  100%;

        > thumb-title {
          font-weight: 500;
          font-size:   20px;
          height:      0;
          opacity:     0.5;
        }

        > thumb-infos {
          height:  auto;
          opacity: 1;
        }
      }
    }
  }
}






.quote {
  display: none;
  cursor: default;
  color: #00331a;
  margin: 0 auto 0;
  -webkit-perspective: 1000vmin;
          perspective: 1000vmin;
  width: 30vw;
  z-index: 1001;
  top: 120px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
}

.quote span {
  border-radius: 0.3em;
  display: inline-block;
  padding: 0 0.25em;
  margin: 0.1em 0.1em;
  -webkit-transform: translateZ(-500vmin) rotateX(90deg);
          transform: translateZ(-500vmin) rotateX(90deg);
  -webkit-transition: background 2s ease-in, color 5s ease-out, text-shadow 0.5s ease-out, -webkit-transform 15s ease-in;
  transition: background 2s ease-in, color 5s ease-out, text-shadow 0.5s ease-out, -webkit-transform 15s ease-in;
  transition: background 2s ease-in, color 5s ease-out, text-shadow 0.5s ease-out, transform 15s ease-in;
  transition: background 2s ease-in, color 5s ease-out, text-shadow 0.5s ease-out, transform 15s ease-in, -webkit-transform 15s ease-in;
}

.quote .highlight, .quote span:hover {
  background: rgba(0, 255, 128, 0.1);
  color: #80ffc0;
  text-shadow: 0 0 0.6em #00ff80;
  -webkit-transform: translateZ(0) rotateX(0deg);
          transform: translateZ(0) rotateX(0deg);
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  z-index: 9001;
}