/*******************************
             FONTS
 *******************************/
// Lato
// https://fonts.google.com/?subset=latin&category=Sans+Serif&sort=popularity&selection.family=Lato:400,700
//@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'),
       url('/assets/fonts/lato-v13-latin-400.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/lato-v13-latin-400.woff' ) format('woff' ); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  // src: local('Lato Regular'), local('Lato-Regular'), url(/assets/fonts/lato400.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin-ext */
// @font-face {
//   font-family: 'Lato';
//   font-style: normal;
//   font-weight: 400;
//   src: local('Lato Regular'), local('Lato-Regular'), url(/assets/fonts/lato400e.woff) format('woff');
//   unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
// }

/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'),
       url('/assets/fonts/lato-v13-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/lato-v13-latin-700.woff' ) format('woff' ); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  // src: local('Lato Bold'), local('Lato-Bold'), url(/assets/fonts/lato700.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin-ext */
// @font-face {
//   font-family: 'Lato';
//   font-style: normal;
//   font-weight: 700;
//   src: local('Lato Bold'), local('Lato-Bold'), url(/assets/fonts/lato700e.woff) format('woff');
//   unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
// }
