/*
 * -- SPLASH STYLES --
 * This is the top section that appears on the page.
 */

.splash-container {
    // background-color: rgba(92, 48, 151, 1);  /* $theme-purple-dark */
    background-color: $theme-purple-dark;  /* $theme-purple-dark */
    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed !important;
    // opacity: 0.5;
    // filter: alpha(opacity=50); /* For IE8 and earlier */
}

.splash {
    /* absolute center .splash within .splash-container */
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


/* This is the main heading that appears on the blue section */
.splash-head {
  font-weight: bold;
  font-size: 1.5em;
  color: $color-anti-flash-white;
  border: 3px solid white;
  font-weight: 100;
  border-radius: 5px;
  line-height: 1em;
  font-variant: small-caps;
}

/* This is the subheading that appears on the blue section */
.splash-subhead {
  color: white;
  letter-spacing: 0.06em;
  font-size: 1.2em;
}


@media (max-width: $grid-float-breakpoint-max) {
  .splash-head {
    padding: 0.5em 1em;
  }

  .splash-subhead {
    margin-top: 10px;
  }

  .splash {
    width: 90%;
    margin-top: 70px;
  }

  a.pure-button {
    padding: 0.2em 1em;
  }
}


@media (min-width: $grid-float-breakpoint) {
  /* We increase the header font size even more */
  .splash-head {
    font-size: 2.5em;
    padding: 1em 1.6em;
  }

  .splash-subhead {
    font-size: 1.5em;
  }

  .splash {
    width: 70%;
    margin-top: 100px;
  }

  a.pure-button {
    padding: 0.5em 2em;
  }
}


@media (min-width: $screen-lg) {
  .splash {
    width: 60%;
  }
}


/*
 * -- BUTTON --
 */

a.pure-button {
    background: white;
    color: $theme-purple-dark;
    border-radius: 5px;
    font-size: 120%;
}
