// --------------------------------------------------
// Text like Matrix
// --------------------------------------------------


.quote {
  display: none;
  cursor: default;
  color: #00331a;
  margin: 0 auto 0;
  max-width: 82vw;
  -webkit-perspective: 1000vmin;
          perspective: 1000vmin;
  width: 30%;
  z-index: 1001;
  top: 90px;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  position: absolute;
}

.quote span {
  border-radius: 0.3em;
  display: inline-block;
  padding: 0 0.25em;
  margin: 0.1em 0.1em;
  -webkit-transform: translateZ(-500vmin) rotateX(90deg);
          transform: translateZ(-500vmin) rotateX(90deg);
  -webkit-transition: background 2s ease-in, color 5s ease-out, text-shadow 0.5s ease-out, -webkit-transform 15s ease-in;
  transition: background 2s ease-in, color 5s ease-out, text-shadow 0.5s ease-out, -webkit-transform 15s ease-in;
  transition: background 2s ease-in, color 5s ease-out, text-shadow 0.5s ease-out, transform 15s ease-in;
  transition: background 2s ease-in, color 5s ease-out, text-shadow 0.5s ease-out, transform 15s ease-in, -webkit-transform 15s ease-in;
}

.quote .highlight, .quote span:hover {
  background: rgba(0, 255, 128, 0.1);
  color: #80ffc0;
  text-shadow: 0 0 0.6em #00ff80;
  -webkit-transform: translateZ(0) rotateX(0deg);
          transform: translateZ(0) rotateX(0deg);
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  z-index: 9001;
}
