
  <div class="navbar" role="navigation">
    <a href="#" class="navbar-logo"><img src="/assets/img/logo-inares-petit.png" alt="INARES"></a>
    <div class="nav-container">
      <div class="navbar-collapse" style="height: 0px;">

        <button class="c-hamburger c-hamburger--htx" id="menu-toggle">
          <span>toggle menu</span>
        </button>

        <ul class="navbar-nav" role="navigation">
          <li><a href="#"><svg class="sgv-img sgv-home"><use xlink:href="#icon-home"></use></svg> Accueil</a></li>
          <li><a href="#presentation"><svg class="sgv-img"><use xlink:href="#icon-presentation"></use></svg> Présentation</a></li>
          <li><a href="#fonctionnement"><svg class="sgv-img sgv-cogs"><use xlink:href="#icon-cogs"></use></svg> Fonctionnement</a></li>
          <li><a href="#pedagogie"><svg class="sgv-img sgv-users"><use xlink:href="#icon-users"></use></svg> Pédagogie</a></li>
          <li><a href="#cours"><svg class="sgv-img sgv-graduation"><use xlink:href="#icon-graduation"></use></svg> Cours</a></li>
          <li><a href="https://www.inares.org/dashboard"><svg class="sgv-img"><use xlink:href="#icon-play"></use></svg> Commencer</a></li>
        </ul>

      </div><!--/navbar-collapse -->
    </div><!--/container -->
  </div>
